.main-navbar {
    position: fixed;
    height: 80px;
    z-index: 20;
    left: 0;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 1px 1px 12px #5A5A5A;
}

.container-navbar {
    position: relative;
    height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1100px;
}

.left-navbar {
    display: inline-block;
    margin-left: 190px;
}

.left-navbar .principal-menu {
    display: table-cell;
    vertical-align: middle;
    height: 80px;
    font-weight: 600;
    color: #53595d;
    text-decoration: none;
    padding: 0 8px;
    margin-right: 6px;
    font-size: 16px;
}

.left-navbar .principal-menu:hover {
    color: #45484a;
    border-bottom: solid 4px #5A5A5A;
}

.principal-menu-selected {
    color: blue;
    border-bottom: solid 4px red;
}

.left-navbar .principal-menu i {
    margin-right: 8px;
}

.logo-navbar {
    position: absolute;
    display: inline-block;
    width: 190px;
    height: 80px;
}

.menu-navbar {
    display: inline-block;
    position: absolute;
    right: 0;
    padding-right: 15px;
}

.align-menu-navbar {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
}

.mdpforget{
    margin-bottom: 16px;
}