.main-navbar {
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    right: 0;
    background: #dfe6eb;
    border-bottom: 1px solid #dfe6eb;
}

.logo-navbar {
    width: 122px;
    height: 64px;
}

.button {
    margin: 0;
    padding: .4375em 1.5em .5625em;
    position: relative;
    border: 0;
    font-weight: bold;
    line-height: 1.5;
    cursor: pointer;
    display: inline-block;
    text-decoration: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
    border-radius: 1.25em;
    min-height: 1.5rem;
    min-width: 1.5rem;
}

.button-primary {
    background-color: #ff3268;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    color: #FFF;
}

.button-primary:hover {
    background-color: #ff658e;
}

.button-primary:active {
    background-color: #ff2e62;
    box-shadow: inset 0 .125em .0625em #ca2b55;
    top: .125rem;
}

.button-secondary {
    background-color: #ff3268;
    box-shadow: inset 0 -.1875em .0625em #ca2b55;
    color: #FFF;
}

.button-secondary:hover {
    background-color: #ff658e;
}

.button-secondary:active {
    background-color: #ff2e62;
    box-shadow: inset 0 .125em .0625em #ca2b55;
    top: .125rem;
}