.profil {
    padding-top: 80px;
    padding-bottom: 40px;
    background: -webkit-linear-gradient(90deg, #acdefc 27%, #5AB4E8 100%);
    background: -moz-linear-gradient(90deg, #acdefc 30%, #5AB4E8 100%);
}

.titre-profil {
    margin: auto;
    margin-left: 36px;
    padding-top: 36px;
    font-size: 2em;
    font-weight: 600;
}

.profilview {
    width: 80%;
    background: #fff;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.credit-profil{
    color: #5ab4e8;
    font-size: 1.2em;
}

.profilview button{
    margin-top: 2em;
}

.profilview ul {
    padding: 0;
    padding-top: 2em;
    margin: auto;
}

.profilview li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 5px;
    margin-left: 5px;
}

.profilview img {
    float: left;
    width: 25%;
    border-radius: 10px;
    margin: 35px 0 0 35px;
}

.excluvideo{
    border-radius: 10px;
    width: 800px;
    height: 450px;
    margin-bottom: 2em;
}

.exclusivite {
    margin: auto;
    width: 80%;
    margin-top: 88px;
}

.title-exclusivite {
    margin-top: 2em;
    font-size: 2em;
    font-weight: 600;
}

.title-advice{
    font-style: italic;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.projet-suivis{
    margin-top: 16px;
    height: 220px;
}

.projet-suivis img{
    float: none;
    margin: 0;
    margin-right: 16px;
    width: 200px;
    height: 120px;
}

.projet-suivis a{
    font-size: 3em;
}

.projet-suivis-title{
    display: inline-block
    width: 400px;
}